{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'blog/css/preface_page.css' %}">   
    <script type="text/javascript" src="{% static 'blog/js/darkMode.js' %}" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dailybasket.space</title>
</head>


<nav id="homeNav">
    <ul class="navbar">
        <li><a href="{% url 'blog_list'%}"><< Home</a></li> 
    </ul> 
</nav>
<header>
    <h3>Contact Me</h3>
</header>
<body>
    <button id="theme-switch">
        <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#000000"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H160v400Zm140-40-56-56 103-104-104-104 57-56 160 160-160 160Zm180 0v-80h240v80H480Z"/></svg>
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M480-280q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Z"/></svg>        
    </button>
    <p>
        If you wish to contact me, feel free to click the links below and reach out on instgram or send me an email like the good ole days. 
        Let me know if there are any bugs in the site or features you'd like to see.
    </p>


    <p>
        <a href="mailto:snakybasket1@gmail.com"> Email: snakybasket1@gmail.com.</a>
    </p>   
 

    
    
</body>
